@font-face {
  font-family: 'GorynychIconFont';
  src:  url('fonts/GorynychIconFont.eot?th9c2k');
  src:  url('fonts/GorynychIconFont.eot?th9c2k#iefix') format('embedded-opentype'),
    url('fonts/GorynychIconFont.ttf?th9c2k') format('truetype'),
    url('fonts/GorynychIconFont.woff?th9c2k') format('woff'),
    url('fonts/GorynychIconFont.svg?th9c2k#GorynychIconFont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'GorynychIconFont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wa:before {
  content: "\e900";
}
.icon-max:before {
  content: "\e901";
}
.icon-tg:before {
  content: "\e902";
}
.icon-agreement:before {
  content: "\e903";
}
.icon-privacy:before {
  content: "\e904";
}
.icon-client-services:before {
  content: "\e905";
}
.icon-history:before {
  content: "\e906";
}
.icon-time:before {
  content: "\e907";
}
.icon-sale:before {
  content: "\e908";
}
.icon-kuvshin:before {
  content: "\e909";
}
.icon-cup:before {
  content: "\e90a";
}
.icon-stars:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e90c";
}
.icon-zavtrak:before {
  content: "\e90d";
}
.icon-bar:before {
  content: "\e90e";
}
.icon-grill:before {
  content: "\e90f";
}
.icon-goryachee:before {
  content: "\e910";
}
.icon-menu-catering:before {
  content: "\e911";
}
.icon-add:before {
  content: "\e912";
}
.icon-share-2:before {
  content: "\e913";
}
.icon-ananas:before {
  content: "\e914";
}
.icon-bowl:before {
  content: "\e915";
}
.icon-grapefruit:before {
  content: "\e916";
}
.icon-butylka:before {
  content: "\e917";
}
.icon-bokal:before {
  content: "\e918";
}
.icon-language:before {
  content: "\e919";
}
.icon-home:before {
  content: "\e91b";
}
.icon-menu-slang:before {
  content: "\e91c";
}
.icon-vega:before {
  content: "\e91d";
}
.icon-chef:before {
  content: "\e91e";
}
.icon-menu-reviews:before {
  content: "\e91f";
}
.icon-trash:before {
  content: "\e920";
}
.icon-menu-rassadka:before {
  content: "\e921";
}
.icon-qr:before {
  content: "\e922";
}
.icon-points:before {
  content: "\e923";
}
.icon-menu-meatballs:before {
  content: "\e924";
}
.icon-clock:before {
  content: "\e925";
}
.icon-menu-personal-offers:before {
  content: "\e926";
}
.icon-star:before {
  content: "\e927";
}
.icon-menu-user:before {
  content: "\e928";
}
.icon-menu-like:before {
  content: "\e929";
}
.icon-menu-geo:before {
  content: "\e92a";
}
.icon-menu-card:before {
  content: "\e92b";
}
.icon-close:before {
  content: "\e92c";
}
.icon-user:before {
  content: "\e92d";
}
.icon-question-mark:before {
  content: "\e92e";
}
.icon-menu-contacts:before {
  content: "\e92f";
}
.icon-menu-loyalty-system:before {
  content: "\e930";
}
.icon-menu-list:before {
  content: "\e931";
}
.icon-menu-microphone:before {
  content: "\e932";
}
.icon-meatballs:before {
  content: "\e933";
}
.icon-login:before {
  content: "\e934";
}
.icon-filter:before {
  content: "\e935";
}
.icon-up:before {
  content: "\e936";
}
.icon-carbohydrates:before {
  content: "\e937";
}
.icon-protein:before {
  content: "\e938";
}
.icon-calories:before {
  content: "\e939";
}
.icon-fat:before {
  content: "\e93a";
}
.icon-share:before {
  content: "\e93b";
}
.icon-hot:before {
  content: "\e93c";
}
.icon-top:before {
  content: "\e93d";
}
.icon-star-fill:before {
  content: "\e93e" !important;
}
.icon-like:before {
  content: "\e93f";
}
.icon-chevron-right:before {
  content: "\e940";
}
