@use './../mixins' as *;

.favorite {

  .card__like {
    background-color: var(--green);

    i {
      font-weight: 700;
      font-size: 2.2rem;
      color: var(--white);

      &::before {
        content: "\e915";
      }
    }
  }
}