@use './../mixins' as *;

.login {

  .layout__card-img {

    [data-color="light"] {
      display: none;
    }

    [data-color="dark"] {
      display: block;
    }
  }
}

html {

  &[data-city="Москва"] {

    [data-city="moscow"] {
      order: -1;
    }
  }

  &[data-city="Новосибирск"] {

    [data-city="novosibirsk"] {
      order: -1;
    }
  }

  &[data-city="Сочи"] {

    [data-city="sochi"] {
      order: -1;
    }
  }

  &[data-city="Воронеж"] {

    [data-city="voronezh"] {
      order: -1;
    }
  }
}